body {
  margin: 20px; }

.hello {
  background-color: blue; }
  .hello__right {
    color: #fff; }

.one {
  padding: 0;
  margin: 0 auto; }
  .one__look {
    display: block;
    color: #f5eded;
    background-color: #482dc0; }
  .one__tipe1 {
    font-size: 16rem; }
