@import "sourse/add";

.one {
    padding: 0;
    margin: 0 auto;

    &__look {
        display: block;
        color: rgb(245, 237, 237);
        background-color: #482dc0;
    }
    &__tipe1 {
        font-size: 16rem;
    }
}

